
.col-md-3{
    min-height: calc(10vh - 80px); 
    padding: 20px 40px;
   
}
input{
    width: 60%;
}
.container{
    text-align: center;
  
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 85px;
    margin-top: 7px;
}
#bag{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000;
}
#bag i{
    font-size: 45px;
    color: brown;
}
.badge{
    background-color: lightgreen;
}
.idButton button{
    width: 35px;
}

@media only screen and (max-width: 768px){
    
.row>* {
    width: 100%;
    max-width: 50%;
}
    #bag{
        font-size: 10px;
    } 
    #bag i{
        font-size: 35px;
    }
    .card-body h5,h6{
        font-size: 12px;
    }
    .idButton button{
        width: 17px;
        
    }
    
}
