
.card{
   width: 150%;
   padding: 20px;
   margin-top: 90%;
   margin-left: -500%;
   
}
input{
   padding: 4px;
   border-radius: 4px;
   border-color: black;
}
.user{
   font-weight: bold;
}
small{
   color: red;
}

//mediaQuery

@media only screen and (max-width: 1300px){
   .card{
      margin-left: -200%;
      width: 120%;
   }
}

@media only screen and (max-width: 900px){
   .card{
      margin-left: -30%;
      width: 120%;
   }
}

// @media only screen and (max-width: 600px){
//    .loginUser{
//       padding: 10px;
//    }
//    .card{
//       padding: 15px;
//       box-shadow: none;
//       width: 150%;

//    }
//    .col-md-4{
//       width:100%;
//       padding: 0;
//    }
//    input [type="text"]{
//       width: 100%;
//       margin-bottom: 10px;

//    }
//    button{
//       width: 100%;
//       padding: 10px;
//    }
// }
   

